<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='basketball.png') }}">
    <title>חישוב סטטיסטיקה</title>
</head>
<body style="direction: rtl;">
    <div class="container">
        <h1 class="text-center">חישוב סטטיסטיקה כדורסל</h1>     
        <form id="getPlayerStats" method="GET">
            <div class="input-group">
                <input list="nbaPlayers" id="selectedPlayer" class="form-control" placeholder="-- בחירת שחקן --" required>
                <datalist id="nbaPlayers">
                    {% for player in players %}
                        <option data-link="{{ player[1] }}" value="{{ player[0] }}">
                    {% endfor %}
                </datalist>
                <select id="selectPlayoffs" class="form-control">
                    <option value="Playoffs">פלייאוף</option>
                    <option value="Season">עונה רגילה</option>
                </select>
            </div>
            <div id="selectYear" class="d-none">
                <div class="input-group">
                    <input list="years" id="selectedYear" class="form-control" placeholder="-- בחירת שנה --" autocomplete="off" required>
                    <datalist id="years"></datalist>
                    <button type="button" id="selectBestYear" class="btn btn-danger">השנה הטובה ביותר</button>
                </div>
            </div>
            <div id="finish-choosing" class="d-none mt-1 mb-1">
                <button type="submit" id="deployStats" class="btn btn-success col-2">הזן נתונים</button>
                <div class="lds-ring" id="loading" style="display: none;"><div></div><div></div><div></div><div></div></div>
            </div>
            <div class="player-total d-none">
                <span id="total"></span>
            </div>
        </form>
        <br />

        

        <form id="statistics">
            <div class="input-group">
                <div class="input-group-text">עמדה (POS)</div>
                <input id="pos" class="form-control" required></input>
                <div class="input-group-text">גובה (HGT)</div>
                <input id="height" class="form-control" type="number" required></input>
            </div>
            <div class="input-group">
                
            </div>
            <div class="input-group">
                <div class="input-group-text">שלשות שקלעתי 3P</div>
                <input id="p3_in" class="form-control" type="number" step="0.001" required>
                <div class="input-group-text">שלשות שנזרקו 3PA</div>
                <input id="p3_attempts" class="form-control" type="number" step="0.001" required>
            </div>
            <div id="p3_ratio"></div>
            <div class="input-group">
                <div class="input-group-text">חצי מרחק שקלעתי 2P</div>
                <input id="p2_in" class="form-control" type="number" step="0.001" required>
                <div class="input-group-text">חצי מרחק שנזרקו 2PA</div>
                <input id="p2_attempts" class="form-control" type="number" step="0.001" required>
            </div>
            <div id="p2_ratio"></div>
            <div class="input-group">
                <div class="input-group-text">עונשין שקלעתי FT</div>
                <input id="ft_in" class="form-control" type="number" step="0.001" required>
                <div class="input-group-text">עונשין שנזרקו FTA</div>
                <input id="ft_attempts" class="form-control" type="number" step="0.001" required>
            </div>
            <div id="ft_ratio"></div>

            <div class="input-group">
                <div class="input-group-text">שלשות שקלעו עליי 3PO</div>
                <input id="p3_on_me" class="form-control" type="number" step="0.001" value="0" required>
                <div class="input-group-text">שלשות שנזרקו עליי 3POA</div>
                <input id="p3_attempts_on_me" class="form-control" type="number" step="0.001" value="0" required>
            </div>
            <div id="p3_ratio_on_me"></div>
            <div class="input-group">
                <div class="input-group-text">חצי מרחק שקלעו עליי 2PO</div>
                <input id="p2_on_me" class="form-control" type="number" step="0.001" value="0" required>
                <div class="input-group-text">חצי מרחק שנזרקו עליי 2POA</div>
                <input id="p2_attempts_on_me" class="form-control" type="number" step="0.001" value="0" required>
            </div>
            <div id="p2_ratio_on_me"></div>
            <div class="input-group">
                <div class="input-group-text">עונשין שנקלעו בגללי FTO</div>
                <input id="ft_on_me" class="form-control" type="number" step="0.001" value="0" required>
                <div class="input-group-text">עונשין שנזרקו עליי FTOA</div>
                <input id="ft_attempts_on_me" class="form-control" type="number" step="0.001" value="0" required>
            </div>
            <div id="ft_ratio_on_me"></div>

            <div class="input-group">
                <div class="input-group-text">אסיסטים AST</div>
                <input id="assists" class="form-control" type="number" step="0.001" required>
            </div>
            <div class="input-group">
                <div class="input-group-text">ריבאונד הגנה DRB</div>
                <input id="d_rebounds" class="form-control" type="number" step="0.001" required>
            </div>
            <div class="input-group">
                <div class="input-group-text">ריבאונד התקפה ORB</div>
                <input id="off_rebound" class="form-control" type="number" step="0.001" required>
            </div>
            <div class="input-group">
                <div class="input-group-text">חטיפות STL</div>
                <input id="steals" class="form-control" type="number" step="0.001" required>
            </div>
            <div class="input-group">
                <div class="input-group-text">בלוקים BLK</div>
                <input id="blocks" class="form-control" type="number" step="0.001" required>
            </div>
            <div class="input-group">
                <div class="input-group-text">איבודי כדור TOV</div>
                <input id="turnovers" class="form-control" type="number" step="0.001" required>
            </div>
            <div class="input-group">
                <div class="input-group-text">דקות משחק MP</div>
                <input id="minutes_of_play" class="form-control" type="number" step="0.001" required>
            </div>

            <div class="input-group">
                <div class="input-group-text">אחוז השלשות של הקבוצה %T3P</div>
                <input id="p3_team_ratio" class="form-control" type="number" step="0.001" required>
                <div class="input-group-text">אחוז השלשות של הליגה %L3P</div>
                <input id="p3_league_ratio" class="form-control" type="number" step="0.001" value="0.37" required>
            </div>
            <div class="input-group">
                <div class="input-group-text">אחוז החצי מרחק של הקבוצה %T2P</div>
                <input id="p2_team_ratio" class="form-control" type="number" step="0.001" required>
                <div class="input-group-text">אחוז החצי מרחק של הליגה %L2P</div>
                <input id="p2_league_ratio" class="form-control" type="number" step="0.001" value="0.5" required>
            </div>
            <div class="input-group">
                <div class="input-group-text">אחוז העונשין של הקבוצה %TFT</div>
                <input id="ft_team_ratio" class="form-control" type="number" step="0.001" required>
                <div class="input-group-text">אחוז העונשין של הליגה %LFT</div>
                <input id="ft_league_ratio" class="form-control" type="number" step="0.001" value="0.78" required>
            </div>
            
            
            <div class="input-group">
                <div class="input-group-text">אחוז זריקות השלשות בהתקפה ממוצעת בקבוצה %OT3P (רק מתוך חצי מרחק ושלשות)</div>
                <input id="p3_team_attack_ratio" class="form-control" type="number" step="0.001" required>
            </div>
            <div class="input-group">
                <div class="input-group-text">אחוז זריקות השלשות בהתקפה ממוצעת בליגה %OL3P</div>
                <input id="p3_league_attack_ratio" class="form-control" type="number" step="0.001" required>
            </div>
            <div class="input-group">
                <div class="input-group-text">אחוז זריקות החצי מרחק בהתקפה ממוצעת בקבוצה %OT2P (רק מתוך חצי מרחק ושלשות)</div>
                <input id="p2_team_attack_ratio" class="form-control" type="number" step="0.001" required>
            </div>
            <div class="input-group">
                <div class="input-group-text">אחוז זריקות החצי מרחק בהתקפה ממוצעת בליגה %OL2P</div>
                <input id="p2_league_attack_ratio" class="form-control" type="number" step="0.001" required>
            </div>
            <div class="input-group">
                <div class="input-group-text">אחוז זריקות העונשין בהתקפה ממוצעת בליגה %OLFT</div>
                <input id="ft_league_attack_ratio" class="form-control" type="number" step="0.001" required>
            </div>
            <center>
                <button type="submit" class="btn btn-primary mt-1 mb-3">חישוב סטטיסטיקה</button>
            </center>
            <div class="formulas">
                <div class="text-center" style="font-family: Tahoma;">
                    <h2>הנוסחאות</h2>
                </div>
                <div class="text-center" dir="ltr">
                    <b>TOTAL</b> = 3 x 3P x 3P% <b>+</b> 2 x 2P x 2P% <b>+</b> 1 x FT x FT% <b>+</b> <b>AST VALUE</b> x AST <b>+</b> <b>DRB VALUE</b> x DRB <b>+</b> <b>ORB VALUE</b> x ORB <b>+</b> <b>STL VALUE</b> x STL <b>+</b> <b>BLK VALUE</b> x BLK <b>-</b> <b>TOV VALUE</b> x (TOV / AST x STOV%) <b>-</b> (3 x 3PO x 3PO% <b>+</b> 2 x 2PO x 2PO% <b>+</b> 1 x FTO x FTO%)
                    </div>
                    
                    <div class="border border-2 border-dark mb-3 text-start p-2">
                        <b>AST VALUE</b> = 0.48 x (3 x OT3P% x T3P% <b>+</b> 2 x OT2P% x T2P%)
                        <br>
                        <b>DRB VALUE</b> = 3 x OL3P% x L3P% ^ 2 <b>+</b> 2 x OL2P% x L2P% ^ 2 <b>+</b> 2 x OLFT% x LFT% ^ 2 <b>-</b> CBLK% x (3 x OL3P% x L3P% ^ 2 + 2 x OL2P% x L2P% ^ 2) <b>-</b> CTOV% x <b>TOV_VALUE</b>
                        <br>
                        <b>ORB VALUE</b> = 3 x OL3P% x (L3P% + 0.01) ^ 2 <b>+</b> 2 x OL2P% x (L2P% + 0.03) ^ 2 <b>+</b> 2 x OLFT% x LFT% ^ 2 <b>-</b> CBLK% x (3 x OL3P% x L3P% ^ 2 + 2 x OL2P% x L2P% ^ 2) <b>-</b> CTOV% x <b>TOV_VALUE</b>
                        <br>
                        <b>STL VALUE</b> = 3 x OL3P% x (L3P% + 0.02) ^ 2 <b>+</b> 2 x OL2P% x (L2P% + 0.06) ^ 2 <b>+</b> 2 x OLFT% x LFT% ^ 2 <b>-</b> CBLK% x (3 x OL3P% x L3P% ^ 2 + 2 x OL2P% x L2P% ^ 2) <b>-</b> CTOV% x <b>TOV_VALUE</b>
                        <br>
                        <b>BLK VALUE</b> = <span title="The chance the ball stays in my team control after the block">0.57</span> x (3 x OL3P% x L3P% ^ 2 <b>+</b> 2 x OL2P% x L2P% ^ 2 <b>+</b> 2 x OLFT% x LFT% ^ 2 <b>-</b> CBLK% x (3 x OL3P% x L3P% ^ 2 + 2 x OL2P% x L2P% ^ 2) <b>-</b> CTOV% x <b>TOV_VALUE</b>)
                        <br>
                        <b>TOV VALUE</b> = 3 x OL3P% x (L3P% + 0.015) ^ 2 <b>+</b> 2 x OL2P% x (L2P% + 0.05) ^ 2 <b>+</b> 2 x OLFT% x LFT% ^ 2 <b>-</b> CBLK% x (3 x OL3P% x L3P% ^ 2 + 2 x OL2P% x L2P% ^ 2) <b>-</b> CSTL% x <b>STL_VALUE</b>
                        <br>
                        
                        <div class="row">
                            <div class="col-1 my-auto fw-bold">OT3P% =</div>
                            <div class="col">
                                <div class="row">
                                    <div class="col">T3PA</div>
                                </div>
                                <div class="row">
                                    <div class="col border-bottom border-1 border-dark"></div>
                                </div>
                                <div class="row"><div class="col">T3PA <b>+</b> T2PA</div></div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-1 my-auto fw-bold">OT2P% =</div>
                            <div class="col">
                                <div class="row">
                                    <div class="col">T2PA</div>
                                </div>
                                <div class="row">
                                    <div class="col border-bottom border-1 border-dark"></div>
                                </div>
                                <div class="row"><div class="col">T3PA <b>+</b> T2PA</div></div>
                            </div>
                        </div>
                        <br>
                        <b>The chance the ball stays in my team control after the block</b> = 57%
                        <br>
                        <b>The chance to score 3 point after offensive rebound</b> = +1%
                        <br>
                        <b>The chance to score 2 point after offensive rebound</b> = +3%
                        <br>
                        <b>The chance to score 3 point after a steal</b> = +2%
                        <br>
                        <b>The chance to score 2 point after a steal</b> = +6%
                        <br>
                        <b>STOV%</b> = Turnovers that are steals 0.52
                        <br>
                        <b>CBLK%</b> = The chance to get a block 0.042
                        <br>
                        <b>CTOV%</b> = The chance to lose the ball 0.126
                        <br>
                        <b>CSTL%</b> = The chance to steal the ball 0.065
                    </div>

                    <ul class="text-end" style="font-family: Tahoma; font-size: 0.8rem;" dir="rtl">
                        <li>התוצאה של הנוסחה היא הנקודות שהשחקן קלע וגם הנקודות שגרם לקבוצה שלו ב 100% קליעה</li>
                        <li>שחקנים שקלעו מעל 40.1% מהשלשות וזרקו בממוצע 1.3 שלשות ומעלה בכל משחק השלשות שלהם מוכפלות ב 3.3 במקום ב 3</li>
                        <li>רק שנה עם לפחות 12 משחקי פלייאוף נחשבת כדי שיהיה ממוצע מדויק.</li>
                        <li>האתר בוחר את השנה הכי טובה לפי הניקוד של הנוסחה באותה השנה (יעילות).</li>
                        <li>האתר מכניס לחישוב רק את השנים 1979-80 ומעלה כי לפני שנים אלו השלשה לא הייתה קיימת.</li>
                        <li>כל שנה ב 1.8 נתוני השנה הטובה ביותר יתעדכנו אוטומטית.</li>
                        <li>אם השחקן הוא PG, SG או SF ולא קלע שום שלשות בממוצע לשנה, השנה לא תיחשב </li>
                        <li>השנה הכי טובה של שחקן יכולה להיות רק עונה שהשחקן שיחק בה 40 משחקים לפחות ולקבוצה היה יחס נצחונות של 48% ומעלה (רק עונה רגילה)</li>
                    </ul>

                    <!--Top 10 fives-->
                    <div class="row justify-content-center">
                        <div class="col-auto">
                            <table id="top5s" class="table table-responsive" dir="rtl" style="font-family: Tahoma;">
                                <thead>
                                    <th colspan="2" style="border-left: 1px solid black">פלייאוף</colgroup>
                                    <th colspan="2">עונה רגילה</colgroup>
                                </thead>
                                
                                <tbody>
                                    <tr class="separate-row">
                                        <th colspan="4" class="text-center">חמישייה ראשונה</th>
                                    </tr>
                                    <tr>
                                        <th>PG</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Magic Johnson</a></td>
                                        <th>PG</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Magic Johnson</a></td>
                                    </tr>
                                    <tr>
                                        <th>SG</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Michael Jordan</a></td>
                                        <th>SG</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Michael Jordan</a></td>
                                    </tr>
                                    <tr>
                                        <th>SF</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">LeBron James</a></td>
                                        <th>SF</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">LeBron James</a></td>
                                    </tr>
                                    <tr>
                                        <th>PF</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Larry Bird</a></td>
                                        <th>PF</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Larry Bird</a></td>
                                    </tr>
                                    <tr>
                                        <th>C</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Nikola Jokić</a></td>
                                        <th>C</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Giannis Antetokounmpo</a></td>
                                    </tr>
                                    <tr class="separate-row">
                                        <th colspan="4" class="text-center">חמישייה שנייה</th>
                                    </tr>
                                    <tr>
                                        <th>PG</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Chris Paul</a></td>
                                        <th>PG</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Chris Paul</a></td>
                                    </tr>
                                    <tr>
                                        <th>SG</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">James Harden</a></td>
                                        <th>SG</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">James Harden</a></td>
                                    </tr>
                                    <tr>
                                        <th>SF</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Kevin Durant</a></td>
                                        <th>SF</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Luka Dončić</a></td>
                                    </tr>
                                    <tr>
                                        <th>PF</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Charles Barkley</a></td>
                                        <th>PF</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Kevin Durant</a></td>
                                    </tr>
                                    <tr>
                                        <th>C</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Kareem Abdul-Jabbar</a></td>
                                        <th>C</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Nikola Jokić</a></td>
                                    </tr>
                                    <tr class="separate-row">
                                        <th colspan="4" class="text-center">חמישייה שלישית</th>
                                    </tr>
                                    <tr>
                                        <th>PG</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Kevin Johnson</a></td>
                                        <th>PG</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Isaiah Thomas</a></td>
                                    </tr>
                                    <tr>
                                        <th>SG</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Stephen Curry</a></td>
                                        <th>SG</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Stephen Curry</a></td>
                                    </tr>
                                    <tr>
                                        <th>SF</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Kawhi Leonard</a></td>
                                        <th>SF</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Kobe Bryant</a></td>
                                    </tr>
                                    <tr>
                                        <th>PF</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Giannis Antetokounmpo</a></td>
                                        <th>PF</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Karl Malone</a></td>
                                    </tr>
                                    <tr>
                                        <th>C</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Hakeem Olajuwon</a></td>
                                        <th>C</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Shaquille O'Neal</a></td>
                                    </tr>
                                    <tr class="separate-row">
                                        <th colspan="4" class="text-center">חמישייה רביעית</th>
                                    </tr>
                                    <tr>
                                        <th>PG</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Steve Nash</a></td>
                                        <th>PG</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">John Stockton</a></td>
                                    </tr>
                                    <tr>
                                        <th>SG</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Dwyane Wade</a></td>
                                        <th>SG</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Dwyane Wade</a></td>
                                    </tr>
                                    <tr>
                                        <th>SF</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Kobe Bryant</a></td>
                                        <th>SF</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Tracy McGrady</a></td>
                                    </tr>
                                    <tr>
                                        <th>PF</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Anthony Davis</a></td>
                                        <th>PF</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Charles Barkley</a></td>
                                    </tr>
                                    <tr>
                                        <th>C</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Shaquille O'Neal</a></td>
                                        <th>C</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Kareem Abdul-Jabbar</a></td>
                                    </tr>
                                    <tr class="separate-row">
                                        <th colspan="4" class="text-center">חמישייה חמישית</th>
                                    </tr>
                                    <tr>
                                        <th>PG</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">John Wall</a></td>
                                        <th>PG</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Kevin Johnson</a></td>
                                    </tr>
                                    <tr>
                                        <th>SG</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Allen Iverson</a></td>
                                        <th>SG</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Allen Iverson</a></td>
                                    </tr>
                                    <tr>
                                        <th>SF</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Clyde Drexler</a></td>
                                        <th>SF</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Clyde Drexler</a></td>
                                    </tr>
                                    <tr>
                                        <th>PF</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Blake Griffin</a></td>
                                        <th>PF</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Moses Malone</a></td>
                                    </tr>
                                    <tr>
                                        <th>C</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Tim Duncan</a></td>
                                        <th>C</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Joel Embiid</a></td>
                                    </tr>
                                    <tr class="separate-row">
                                        <th colspan="4" class="text-center">חמישייה שישית</th>
                                    </tr>
                                    <tr>
                                        <th>PG</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Trae Young</a></td>
                                        <th>PG</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">John Wall</a></td>
                                    </tr>
                                    <tr>
                                        <th>SG</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Jamal Murray</a></td>
                                        <th>SG</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Gilbert Arenas</a></td>
                                    </tr>
                                    <tr>
                                        <th>SF</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Jimmy Butler</a></td>
                                        <th>SF</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">George Gervin</a></td>
                                    </tr>
                                    <tr>
                                        <th>PF</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Karl Malone</a></td>
                                        <th>PF</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">DeMarcus Cousins</a></td>
                                    </tr>
                                    <tr>
                                        <th>C</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Dirk Nowitzki</a></td>
                                        <th>C</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Hakeem Olajuwon</a></td>
                                    </tr>
                                    <tr class="separate-row">
                                        <th colspan="4" class="text-center">חמישייה שביעית</th>
                                    </tr>
                                    <tr>
                                        <th>PG</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Deron Williams</a></td>
                                        <th>PG</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Steve Nash</a></td>
                                    </tr>
                                    <tr>
                                        <th>SG</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Derrick Rose</a></td>
                                        <th>SG</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Isaiah Thomas</a></td>
                                    </tr>
                                    <tr>
                                        <th>SF</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Walter Davis</a></td>
                                        <th>SF</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Julius Erving</a></td>
                                    </tr>
                                    <tr>
                                        <th>PF</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Elton Brand</a></td>
                                        <th>PF</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Anthony Davis</a></td>
                                    </tr>
                                    <tr>
                                        <th>C</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Kevin Garnett</a></td>
                                        <th>C</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Kevin Garnett</a></td>
                                    </tr>
                                    <tr class="separate-row">
                                        <th colspan="4" class="text-center">חמישייה שמינית</th>
                                    </tr>
                                    <tr>
                                        <th>PG</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Isiah Thomas</a></td>
                                        <th>PG</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Tim Hardaway</a></td>
                                    </tr>
                                    <tr>
                                        <th>SG</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Gary Payton</a></td>
                                        <th>SG</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Damian Lillard</a></td>
                                    </tr>
                                    <tr>
                                        <th>SF</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Scottie Pippen</a></td>
                                        <th>SF</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Chris Mullin</a></td>
                                    </tr>
                                    <tr>
                                        <th>PF</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Jayson Tatum</a></td>
                                        <th>PF</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Kevin McHale</a></td>
                                    </tr>
                                    <tr>
                                        <th>C</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Amar'e Stoudemire</a></td>
                                        <th>C</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Tim Duncan</a></td>
                                    </tr>
                                    <tr class="separate-row">
                                        <th colspan="4" class="text-center">חמישייה תשיעית</th>
                                    </tr>
                                    <tr>
                                        <th>PG</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Rajon Rondo</a></td>
                                        <th>PG</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Trae Young</a></td>
                                    </tr>
                                    <tr>
                                        <th>SG</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Damian Lillard</a></td>
                                        <th>SG</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Gary Payton</a></td>
                                    </tr>
                                    <tr>
                                        <th>SF</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Paul George</a></td>
                                        <th>SF</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Kawhi Leonard</a></td>
                                    </tr>
                                    <tr>
                                        <th>PF</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Kevin McHale</a></td>
                                        <th>PF</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Kevin Love</a></td>
                                    </tr>
                                    <tr>
                                        <th>C</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">David Robinson</a></td>
                                        <th>C</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Patrick Ewing</a></td>
                                    </tr>
                                    <tr class="separate-row">
                                        <th colspan="4" class="text-center">חמישייה עשירית</th>
                                    </tr>
                                    <tr>
                                        <th>PG</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">John Stockton</a></td>
                                        <th>PG</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Deron Williams</a></td>
                                    </tr>
                                    <tr>
                                        <th>SG</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Ray Allen</a></td>
                                        <th>SG</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Derrick Rose</a></td>
                                    </tr>
                                    <tr>
                                        <th>SF</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Dominique Wilkins</a></td>
                                        <th>SF</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Mark Aguirre</a></td>
                                    </tr>
                                    <tr>
                                        <th>PF</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Tom Chambers</a></td>
                                        <th>PF</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Chris Webber</a></td>
                                    </tr>
                                    <tr>
                                        <th>C</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Moses Malone</a></td>
                                        <th>C</th>
                                        <td data-name="True"><a class="link-dark text-decoration-none" target="blank" href="">Dirk Nowitzki</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <table id="top100" class="table" dir="rtl" style="font-family: Tahoma;">
                        <thead>
                            <th colspan="1"></th>
                            <th colspan="2" style="border-left: 1px solid black">פלייאוף</colgroup>
                            <th colspan="2">עונה רגילה</colgroup>
                        </thead>
                        <thead>
                            <th scope="col">#</th>
                            <th scope="col">שם השחקן</th>
                            <th scope="col" style="border-left: 1px solid black">דירוג</th>
                            <th scope="col">שם השחקן</th>
                            <th scope="col">דירוג</th>
                        </thead>
                        <tbody>
                            {% for i in range(100) %}
                            <tr>
                                <th scope="row">{{ i + 1 }}</th>
                                <th data-name="True"><a class="link-dark text-decoration-none" href="">{{ top100playoffs_keys[i] }}</a></th>
                                <td style="border-left: 1px solid black">{{ top100playoffs_items[i] }}</td>
                                <th data-name="True"><a class="link-dark text-decoration-none" href="">{{ top100season_keys[i] }}</a></th>
                                <td>{{ top100season_items[i] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            
            
        </form>
    </div>
</body>
</html>